.container{
    width: 400px;
    border: 1px solid black;
    border-radius: 11px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #acaaaa;
    margin: 20px auto;
    position: relative;
}
.wrapper {
    display: flex;
    gap: 12px;
}

.btn {
    right: 25px;
    position: absolute;
    bottom: 12px;
    padding: 10px 20px;
    border-radius: 10px;
}

.addPost{
    background-color: blue;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid;
    display: inline-block;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 10px;
    left: 20px;
}
.publishWindow{
    z-index: 2;
    width: 50vw;
    height: 200px;
    border: 1px solid;
    margin: 0 auto;
    /* margin-top: 30%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* visibility: hidden; */
}
#newPost{
    padding: 20px;
}
#createNewPost {
    padding: 10px;
}